body {
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
    margin: 0;
}

.mensajes-ocultos {
    display: none;
}

.resultado {
    align-items: center;
    bottom: 0;
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
    left: 0;
    letter-spacing: 2px;
    position: fixed;
    right: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    top: 0;
}


#derrota.resultado {
    background-color: #D45D79;
}

#empate.resultado {
    background-color: #9A9B94;
}

#victoria.resultado {
    background-color: #A7D46F;
}
